<!DOCTYPE html>
<html lang="en">

<head>
    <title>home page</title>
    <meta charset="UTF-8">

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="mg.css">
    <!-- <style>
        body {
            padding-top: 50px;
        }
        .nav-bar{
            border: 2px solid;
        }
        .nav-item{
            background-color: red;
        }
    </style> -->
</head>

<body>
    <div class="main_header">
        <div>
            <nav class="nav-bar navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">NewProcejt</a>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                </ul>
              </nav>
        </div>
        <div class="nav navbar" align="left">
            <h1>jhgf</h1>
        </div>
    </div>
</body>

</html>