<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Page</title>
</head>
<body>
    <ul>
        <%arr.forEach((item)=>{%>
            <h1 style="background-color: red;">item</h1>
            <!-- <li><%=item%></li> -->
        <%})%>
    </ul>
</body>
</html>